*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/encryption_public_key.pem
/braine_trainer.keystore.jks
/pepk.jar
/app/debug/app-debug.aab
/app/release/app-release.aab
